body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.org {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    height: 70%;

}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(salmon, hotpink);
    font-weight: 700;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}