body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.org {
    color: orange;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 80%;


}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(salmon, hotpink);
    font-weight: 700;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experience {
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.expeience-item {
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}

#full {
    border-left: 5px solid tomato;
}

#baby {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}